<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultaten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Stylesheet3.css') }}">
</head>
<body>
<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active" href="#Resultaten">Resultaten</a></li>
    <li><a href="blast.html">Blast</a></li>
    <li><a href="blastuser.html">User blast results</a></li>
</ul>
<h1>Eiwitten in champignon compost</h1>
<ul class="box">
<form method="post">
    <div align="left">
        <p>Filter:</p>
        <input type="text" name="filter">
        <input type="submit">
    </div>
    <div align="left">
        <p>Filter on:</p>
        <input type="checkbox" id="protein_name" name="protein_name" value="1" checked>
        <label for="protein_name"> Protein function</label>
        <input type="checkbox" id="stam" name="stam" value="stam" checked>
        <label for="stam"> Taxonomy</label>
        <input type="checkbox" id="organisme" name="organisme" value="organisme" checked>
        <label for="Organisme"> Organisme</label>
        <input type="checkbox" id="Function" name="Function" value="Function" checked>
        <label for="Function"> Description:</label>
    </div>
</form>
</ul>
<table border="1">
    <tr>
        <th>Protein function</th>
        <th>Organism</th>
        <th>Accession</th>
        <th>E-value</th>
        <th>Percent identity</th>
        <th>Query Cover</th>
        <th>Lineage</th>
    </tr>
    {% for i in list_all %}
        <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td><a href="https://www.ncbi.nlm.nih.gov/protein/{{ i[2] }}">{{ i[2] }}</a></td>
            <td>{{ i[3] }}</td>
            <td>{{ i[4] }}</td>
            <td>{{ i[5] }}</td>
            <td>{{ i[6] }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>