<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="Stylesheet" href="{{ url_for('static', filename='css/Stylesheet3.css') }}">
</head>
<body>
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="Resultaten.html">Resultaten</a></li>
    <li><a href="blast.html">Blast</a></li>
    <li><a href="blastuser.html">User blast results</a></li>
</ul>
<h1>About this project</h1>
<p>
    text

</p>
<h2>Contact</h2>
Niek Sulter: nieksulter99@gmail.com
<br />
Femke Nijman: femke.nijman@outlook.com
<br />
Iris Reijnen: ir.g.reijnen@gmail.com
</body>
</html>