<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultaten champignon project</title>
    <link rel="Stylesheet" href="{{ url_for('static', filename='css/Stylesheet3.css') }}">
</head>
<body>
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="Resultaten.html">Resultaten</a></li>
    <li><a href="blast.html">Blast</a></li>
    <li><a href="blastuser.html">User blast results</a></li>
</ul>
<h1>About this project</h1>
<p>

Een groot probleem binnen de champignonteelt is echter dat de oogst van champignons sterk kan variëren. <br>
    Ook micro-organismen die het pasteurisatie proces in de compost overleefd hebben kunnen een negatieve of juist een positieve invloed hebben op de teelt. <br>
    Deze micro-organismen vormen in de compost een microflora. Het DNA van deze is gesequenced en vervolgens geblast om te kijken welke eiwitten deze produceren. </p>
<p>Resultaten: <br>

Hier staan de blast resultaten van het DNA uit de champignoncompost die door het HAN Biocenter gesequenced zijn. <br>
    Je kan filteren op proteïne naam, functie en taxonomy. E-value is hoe betroubaar de blast reasultaat is, hoe kleiner hoe beter. <br>
    Identity is hoeveel de sequenties overeenkomen. Voor prokaryoten is boven de 40% goed. <br>
    Query cover is het percentage van de query sequentie dat de referentie sequentie overlapt. <br>
    Elke accessiecode heeft een hyperlink die naar de corresponderende NCBI pagina verwijst.
</p>
<p>
    Blast: <br>
    Hier kan de gebruiker een eigen sequentie via de website blasten. Optioneel kan de gebruiker een email adres achterlaten om een notificatie te krijgen wanneer de blast voltooid is.
</p>
<p>
    User blast results: <br>
    Hier zijn de resultaten van een door de gebruiker uitgevoerde blast te vinden. Als de gebruiker een ID meegeeft zullen alleen de resultaten van die specifieke job opgehaald worden. <br>
    Als de gebruiker geen ID meegeeft zullen alle resultaten in de database opgehaald worden.
</p>

<h2>Contact</h2>
Niek Sulter: nieksulter99@gmail.com
<br />
Femke Nijman: femke.nijman@outlook.com
<br />
Iris Reijnen: ir.g.reijnen@gmail.com
</body>
</html>